.bgColor {
    background-color: rgb(93, 91, 91);
}

.maindisplay {
    background: rgb(92, 243, 54);
    height: 200px;
    padding: 10%;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
}

.subdisplay {
    border-bottom: 1px solid black;
    min-height: 5vh;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(100% / 3);
    border: 2px solid rgb(1, 0, 0);
    border-radius: 0px 0px 14px 14px;
}

.keys {
    margin: 0;
    width: 25%;
    height: 10%;
    background: rgb(49, 49, 49);
    color: rgb(250, 90, 4);
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.one-line {
    display: inline-block;
    border: 2px solid rgba(254, 253, 253, 0.228);
    border-radius: 0px 0px 12px 12px;

}

.operationkey {
    background-color: black;
    color: white;
}

.deletekey {
    background-color: red;
    color: black;
}

.anskey {
    background-color: red;
    color: white;
}


.Display {
    border: 12px solid black;
    border-radius: 15px 15px 0px 0px;
}

